# This is Git's per-user configuration file.
[user]
	name = Daniel Tolan
	email = danieltolan@gmail.com
[branch]
	remote = origin
[core]
	editor = vim
	pager = less -r
[push]
	default = simple
[color]
	ui = true
